.input {
  max-width: 300px;
  width: 100%;
  background-color: #f8f6f6;
  padding: 6px 10px;
  border: 0;
  line-height: 19px;
  font-weight: 300;
}

.btn {
  background-color: #A0522D;
  padding: 5px 15px;
  cursor: pointer;
  border: 0;
}

.search {
  width: 20px;
  height: 20px;
}

.error {
  color: red;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}