.background {
    padding: 30px;
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-01/1642239690_26-abrakadabra-fun-p-fon-dlya-biblioteki-31.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: #fff;
}